<div class="container-fluid">

	<br>
	<div class="row">
		<div class="text-center col-sm-12">
			<br>
			<h1 style="color:rgb(248, 10, 10)">WELCOME TO THE KRUSTY KRAB</h1>
			<img src="/assets/img/burger.jpg" id="burger-photo" style="width:400px;height:400px;" alt="burger">

			<p></p>
		</div>
	</div>

	<br>
	<div class="row">
		<div class="text-center col-sm-12">
			<h2>Add a Burger</h2>
			<form class="create-form">
				<div class="field">
					<label class="label" id="label" for="burger">Burger Name:</label>
					<input type="text" id="burger" name="name" class="input" required>
					<button class="button is-danger" type="submit ">Add Burger</button>
				</div>
			</form>
		</div>
	</div>

	<br>
	<div class="row">
	
			<div class="col-sm-5 col-sm-offset-1">
				<h3>Burgers To Eat!</h3> 

				<div id="devour">
					{{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}} {{/each}}
				</div>
			</div>

			<div class="col-sm-5 col-sm-offset-1">
				<div id="devoured">
					<h2>Devoured Burgers</h2>
					 {{#each burgers}} {{#unless devoured}}
					<li>
						{{id}}. {{burger_name}}
					</li>
					{{/unless}} {{/each}}
				</div>
			</div>
		</div>
	</div>
